---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Music - Pol Gubau Amores">
  <!-- the aside slot: -->
  <aside slot="aside">
    <h2>Music</h2>
    <p>
      Music is a big part of my life. I play the guitar and I sing. I also like
      to compose and produce my own songs.
    </p>
    <p>Here you can find some of my songs:</p>
  </aside>

  <!-- the main slot: -->
  <div slot="main">main</div>

  <!-- PLAYER -->
  <div slot="player">PLAYER</div>

  <style></style>
</Layout>
